.container1 {
    background-color: #1F2937;
    padding: 16px 80px 80px 80px;
    /*May need margin?*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.header_left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header_right {
    display: flex;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    gap: 36px;
}

.header_button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    border-color: #3882f6;
    border-radius: 8px;
}

.introduction {
    display: flex;
    /*Could be center*/
    justify-content: space-between;
    align-items: center;
}

.introduction_opening {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 12px;
}

.introduction_subtext {
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 12px;
}

.introduction_right {
    color: #E5E7EB;
    font-size: 18px;
}

.contact {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    border-color: #3882f6;
    border-radius: 8px;
}

.container2 {
    background-color: white;
    padding: 16px 80px 40px 80px;
}

.recipe_introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 8px 36px 8px;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 52px;
}

.recipe_text {
    padding-top: 24px;
}

img {
    border: black;
    border-style: solid;
    border-radius: 12px;
}

.container3 {
    background-color: lightgray;
    padding: 16px 80px 32px 80px;
}

.container3_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 8px 26px 8px;
    margin: auto;
    font-style: italic;
    color: black;
    font-size: 24px;
    max-width: 400px;
}

.container3_closer {
    text-align: center;
}

.container4 {
    background-color: white;
    padding: 32px 500px;
}

.container4_body {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    padding: 36px 48px;
    border-radius: 12px;
}

.ad_top {
    color:white;
    font-weight: bold;
}

.ad_bot {
    color: white;
}

.contact4 {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    border-color: white;
    border-radius: 8px;
}

.container5 {
    background-color: #1F2937;
    padding: 12px 80px 12px 80px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F9FAF8;
    text-align: center;
    padding: 0px 8px 0px 8px;
}